
 .header{
    margin: 0;
    width: auto;
    background-color: black;
}
 header, main, footer{
    margin: 0;
}  
body{
    background-color: black;
}
div a{ 
    text-decoration: none;
    margin: 0px;
    border: 1px;
    padding: 10px;  
    color: rgb(250, 246, 246);
    font-size: large;
}
h1{
    text-align: center;
    color: aqua;
}
h2{
    color:yellow;
}
 div a:hover{
    background-color: white;
    color: black;
    border-radius: 8px;
    height: 10px;
    margin: 3px;
}
.main{
    background-color: rgb(5, 4, 5);
}
#About, #Home{
    color: #f0f0f0;
    text-align: center;
}
#Home a{
    text-decoration: none;
    color:greenyellow;
    font-size: medium;
}
div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: none;
    background-color: black;
}
.items{
padding:10px;
margin: 10px;
border-radius: 10px;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 10px;
}
.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9{
margin:10px;
padding: 10px;
width:300px;
height: 300px;
border-radius: 5px;
background-color: #f0f0f0;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0,0,0);
cursor: pointer;
} 
#Contact{
    background-color: black;
    color: #f0f0f0;
    text-align: center;
}
.footer{
    margin:none;
    background-color: black;
    color: #f0f0f0;
}